<aside class="sidebar">

  <div class="logo-box">
    <img src="{{site.logo_url}}" alt="{{site.title}}" />
  </div>

  {% for doc in site.data.toc %}
  <h2 class="alt-h4">{{ doc[0] }}</h2>

  <ul class="mt-2 mb-4 list-style-none">
    {% for item in doc[1] %}
    <li>
      {% if item.url %}
        {% assign link = item %}
      {% else %}
        {% for doc in site.pages %}
          {% if doc.path == item %}
            {% assign link = doc %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if page.url == link.url %}
        {% assign classes = "active" %}
      {% else %}
        {% assign classes = "" %}
      {% endif %}

      <a class="{{classes}}" href="{{ link.url }}">{{ link.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}

  <!--[[[https://storage.googleapis.com/media.usabilitydynamics.com/2014/11/2c6fc7ac-wpproperty-plugin-icon-300x300.png|alt="WP-Property"|height=210px|width=210px]]](https://www.usabilitydynamics.com/product/wp-property)-->





</aside>