<aside class="sidebar">
  [[[https://storage.googleapis.com/media.usabilitydynamics.com/2014/11/2c6fc7ac-wpproperty-plugin-icon-300x300.png|alt="WP-Property"|height=210px|width=210px]]](https://www.usabilitydynamics.com/product/wp-property)


  ### Intro
  * [Home](Home)
  * [Installing](Installing-WP-Property)
  * [Translating](Translating-WP-Property)
  * [Shortcode Cheatsheet](WP-Property-Shortcode-Cheatsheet)
  * [Installing Add ons](Installing-WP-Property-Add-ons)

  ### Settings
  * [Main Tab](Main-Tab-in-WP-Property-Settings)
  * [Display Tab](Display-Tab-in-WP-Property-Settings)
  * [Developer Tab](Developer-Tab-in-WP-Property-Settings)
  * [Help Tab](The-Help-Tab-in-WP-Property-Settings)

  ### Guides
  * [How to add, delete or attach images?](How-to-add,-delete-or-attach-images-in-WP-Property%3F)
  * [Adding auto populated field to search](How-to-add-auto-populated-field-to-WP-Property-search)
  * [Will WP-Property work with any theme?](Will-WP-Property-work-with-any-theme%3F)
  * [Accessing WP Property with a non admin user role](Accessing-WP-Property-with-a-non-admin-user-role)
  * [Styling Oembed field on a Single Property Page](Styling-Oembed-field-on-a-Single-Property-Page-in-WP-Property)

  ### Common Issues
  * [Licence Key not activating](Licence-Key-not-activating)
  * [Could not do a request to UsabilityDynamics.com while activating add on](Could-not-do-a-request-to-UsabilityDynamics.com-while-activating-add-on)
  * [How to investigate any issue?](How-to-investigate-any-issue-in-WP-Property%3F)
  * [Will WP-Property work with any theme?](Will-WP-Property-work-with-any-theme%3F)
  * [Why don't I see any search results?](No-Search-Results-in-WP-Property-Search)
  * [Error-> No pagination on search results](No-pagination-on-WP-Property-search-results)
  * [Slow Back-end or Front-end after activation](Slow-Backend-or-Frontend-performance-when-WP-Property-is-activated)
  * [The content moves to the left in a third party theme](The-content-moves-to-the-side-in-WP-Property-while-using-a-third-party-theme)
  * [Google Map is not Showing](Why-is-the-Google-Map-not-displayed-in-WP-Property%3F)
  * [No Search Results](No-Search-Results-in-WP-Property-Search)
  * [Parse error-syntax error unexpected T_STRING](Parse-error-syntax-error-unexpected-T_STRING)
  * [Issues with Polylang plug-in](Issues-With-Polylang-plug-in)

  ### For Developers
  * [Customizing Templates](Customizing-Templates-in-WP-Property)
  * [How to customize Overview Page?](How-to-customize-Overview-Page-in-WP-Property%3F)
  * [How to override specific functionality?](How-to-override-specific-functionality-in-WP-Property%3F)
  * [Filters and Actions](A-List-of-Filters-and-Actions-in-WP-Property)
  * [Composer Modules](Composer-Module-Development-for-WP-Property)
  * [Settings keys](WP-Property-Setting-Keys)


</aside>