<aside class="sidebar">

  <div class="logo-box">
    <img src="{{ page.image }}" alt="{{ page.title }}"/>
  </div>

  {% for themes_list in site.data.apps.avalon %}

    <h2>{{ themes_list[0] }}</h2>

    <ul>
      {% for theme_item in themes_list[1] %}
        {% if theme_item.url %}
          {% assign link = theme_item %}
        {% else %}
          {% for doc in site.pages %}
            {% if doc.path == theme_item %}
              {% assign link = doc %}
              {% break %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if page.url == link.url %}
          {% assign classes = "active" %}
        {% else %}
          {% assign classes = "" %}
        {% endif %}

        <li><a  class="{{classes}}" href="{{ link.url }}">{{ link.sidebar_title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}

  <div class="product-data">
    <a href="{{ page.repo_url }}" class="get-repo-button">Go to {{ page.title }} repository</a>
  </div>

</aside>