---
layout: default
title: Addons
---

{% for addons_list in site.data.addons %}
<h1 class="page-title">{{ page.title }}</h1>
<div class="col-12">{{ addons_list[0] }}</div>
  {% for addon_item in addons_list[1] %}
    {% if theme_item.url %}
      {% assign link = theme_item %}
    {% else %}
      {% for doc in site.pages %}
        {% if doc.path == theme_item %}
          {% assign link = doc %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="col-4">
      <a href="{{ link.url }}">{{ link.title }}</a>
    </div>
  {% endfor %}
{% endfor %}
