<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>WP Property</title>
</head>
<body>
{% include header.html %}

<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-3">
        {% include sidebar.html %}
      </div>
      <div class="col-8 offset-1">
        {{ content }}
      </div>
    </div>
  </div>
</main>

{% include footer.html %}
</body>
</html>